extends layout

block content
  .row
    .col.text-center.foundation
      h2.title AT-TAQWA FOUNDATION
      h5.title The Gateway to Islam

  .row.justify-content-center.videos
    .col-12.col-md-3.knowledge.text-center
      h4 VIDEOS
      hr
      ul.list
        each category in videoCategories
          li: a(href=category.url) #{category.title}

    .col-12.col-md-3.ask-sheesu.text-center
      img.sheesu(src="images/sheesu.jpg")
      h5.mt-2
        a.ask-link.btn.btn-primary(href="/attaqwa_foundation/ask_sheesu") Ask Sheesu
      br
      div
        h5 Recent Questions and Answers
        ul.list
          each question in questions
            li: a(href=`/attaqwa_foundation/question/${question._id}`) #{question.question}
        a.btn.btn-primary.mt-2(href="/attaqwa_foundation/all_questions") View More Questions

    .col-12.col-md-6.live-video.text-center
      h3 Live Video
      .iframe-container
        iframe(
          src=liveVideoUrl
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        )
