doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title || 'Home Page'

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="stylesheet" href="/attaqwa_foundation/stylesheets/layout.css")

    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    )

  body
    .container-fluid
      // Navbar Section
      nav.navbar.navbar-expand-lg.bg-body-tertiary
        .container-fluid
          a.navbar-brand(href="/attaqwa_foundation")
            img.navbar-logo(src="/attaqwa_foundation/images/attaqwa.jpg")
          button.navbar-toggler(
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          )
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(aria-current="page" href="/attaqwa_foundation") Home
              li.nav-item
                a.nav-link(href="#") Donate
              li.nav-item 
                a.nav-link(href="mailto:attaqwafoundationhum@gmail.com") Contact Us  

              // Show Admin or User Links Dynamically
              if isLoggedIn && admin
                li.nav-item
                  a.nav-link(href="/attaqwa_foundation/dashboard") Dashboard
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                    i(class="fas fa-user-circle text-primary") 
                    span= admin.username ? admin.username[0].toUpperCase() + admin.username.slice(1).toLowerCase() : ''
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="/attaqwa_foundation/signout") Sign Out

              else if isLoggedIn && user
                li.nav-item
                  a.nav-link(href="/attaqwa_foundation/user_messages") Messages
                li.nav-item
                  a.nav-link(href="/attaqwa_foundation/profile") Profile
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                    i(class="fas fa-user-circle text-primary") 
                    span= user.username ? user.username[0].toUpperCase() + user.username.slice(1).toLowerCase() : ''
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="/attaqwa_foundation/signout") Sign Out

              else
                li.nav-item
                  a.nav-link(href="/attaqwa_foundation/signin") Sign In
                li.nav-item
                  a.nav-link(href="/attaqwa_foundation/signup") Sign Up

            form.d-flex(role="search")
              input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search

      // Body Section
      block content

    // Footer Section
    footer
      p &copy; 2024 At-Taqwa Foundation. All Rights Reserved.
      .social-media-icons
        a(href="https://www.facebook.com/TaqwaAnd?mibextid=ZbWKwL" target="_blank") Facebook |
        a(href="https://x.com/TaqwaAnd?s=09" target="_blank") Twitter |
        a(href="https://www.instagram.com" target="_blank") Instagram |
        a(href="https://www.youtube.com/@at-taqwafoundationandhuman2761" target="_blank") YouTube
      p
        a(href="#") Privacy Policy | 
        a(href="#") Terms of Service
      p Support us: 
        a(href="#") Donate to At-Taqwa Foundation

    script(src="/attaqwa_foundation/javascripts/userSignUp.js")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    )
